:root {
    --color-white100: #ffffff;
    --color-black100: #000000;
    --color-black80: #222222;
    --color-black70: #666666;
    --color-black60: #888888;
    --color-black50: #c4c4c4;
    --color-black40: #cccccc;
    --color-black30: #dddddd;
    --color-black20: #f7f7f7;
    --color-primary100: #52796f;
    --color-primary80: #84a98c;
    --color-blue100: #247ba0;
    --color-blue80: #5095b3;
    --color-blue60: #7cb0c6;
    --color-red100: #cb2d3e;
    --color-red80: #ef473a;
    --color-red60: #f79f9d;
    --color-green100: #70c1b3;
    --color-green80: #8dcdc2;
    --color-green60: #a9dad1;
    --color-yellow100: #ffe066;
    --color-yellow80: #ffe685;
    --color-yellow60: #ffeca3;
  }